<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="managedBean" required="true" type="sv.edu.uesocc.ingenieria.prn335_2018.flota.flotawebapp.boundary.jsf.AbstractFrmDataModel"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:panelGroup id="botones" >
            <h:panelGrid columns="2">
                <p:commandButton id="btnNuevo" value="Nuevo" update=":scrollpanel" icon="ui-icon-disk" actionListener="#{cc.attrs.managedBean.btnNuevo}" rendered="#{cc.attrs.managedBean.estado == 'NUEVO'}"/>
            <p:commandButton id="btncancelar" value="Cancelar" update=":scrollpanel" icon="ui-icon-close" actionListener="#{cc.attrs.managedBean.btnCancelarHandler}" rendered="#{cc.attrs.managedBean.estado == 'CREAR' or cc.attrs.managedBean.estado == 'EDITAR'}"/>
            </h:panelGrid>
        </h:panelGroup>
    </cc:implementation>
</html>